In [9]:
a=["saddam","rahul","monu"]
b="rahul"
i=0
if b in a:
    p=i
    
print(i)

0

In [10]:
q. reverse string
q. reverse list
3. leap year

SyntaxError: invalid syntax (2695011828.py, line 1)

In [26]:
a=[1,5,7,2,2,2]
max(a)

7

In [42]:
a="saddam"
#reverse
a[-1::-1]
a.isdigit()
for i in range(1,len(a)+1):
    print(i)

1
2
3
4
5
6

In [43]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

print(fruits)

['cherry', 'banana', 'apple']

In [25]:
c=[i for i in b if i%2!=0]

In [28]:
def summ(n,m):
    c=n+m
    return c

In [29]:
a=summ(4,5)

In [30]:
a

9

In [54]:
a="saddam"
a.reverse()
a
#print(a)

AttributeError: 'str' object has no attribute 'reverse'

In [67]:
a=[1,2,"saddam"]
a.index(2)

1

In [68]:
a.append("ali")

In [69]:
a

[1, 2, 'saddam', 'ali']

In [70]:
a.append([1,5,4,6])

In [71]:
a

[1, 2, 'saddam', 'ali', [1, 5, 4, 6]]

In [82]:
a.insert(2,"khan")
a

[1, 2, 'khan', 'khan', 'khan', 'saddam', 'ali', [1, 5, 4, 6]]

In [81]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-1:-4:-1])

['mango', 'melon', 'kiwi']

In [8]:
# Python program to check if year is a leap year or not

year = 2030

# To get year (integer input) from the user
# year = int(input("Enter a year: "))

if year % 4 == 0:
    
    if (year % 100) == 0:
        if (year % 400) == 0:
            print("{0} is a in leap year".format(year))
        else:
            print("{0} is not in a leap year".format(year))
    else:
        print("{0} is a in leap year".format(year))
else:
    print("{0} is not o a leap year".format(year))

2030 is not o a leap year

In [93]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
a=dict(zip(list1,list2))

In [94]:
a

{'a': 1, 'b': 2, 'c': 3}

In [95]:
type(a)

dict

In [102]:
for i in a.keys():
    print(i)

a
b
c

In [103]:
a=["saddam",1,"ali",2]

In [106]:
a=[]
b=[]
for i in a:
    if i%2==0:
        a.append(i)
    else:
        b.append(i)

In [107]:
a

[]

In [18]:
def myfunc():
    
    global x
    x = "fantastic"
    print(x)

myfunc()

print("Python is " + x)

fantastic
Python is fantastic

In [27]:
l = "saddam"

for i in l[-1::-1]:
    print(i,end="")

maddas

In [22]:
a

['cherry', 'apple', 'cherry', 'banana', 'apple']

In [28]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i],i)

apple 0
banana 1
cherry 2

In [56]:
m = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
m["child4"]={
    "name" : "riyan",
    "year" : 2021
  }

In [57]:
m={
    "name":["saddam","mohan"],
    "age":["11","55"]
}
m

{'name': ['saddam', 'mohan'], 'age': ['11', '55']}

In [30]:
import platform

x = platform.system()
print(x)

Linux

In [19]:
def my_function(*kids):
  print("The youngest child is " + kids[1])

my_function("Emil", "Tobias", "Linus")

The youngest child is Tobias

In [17]:
a="Apple iPhone 11 (64GB) - Black"
b=a.split('(')
c=b[1]
c.split(')')

['64GB', ' - Black']

In [7]:
a="iphone Apple iPhone XR (64GB) - Black"
a

'iphone Apple iPhone XR (64GB) - Black'

In [2]:
if 'iphone' in a:
    print('yes')
else:
    print('not')

yes

In [2]:
a=[10,1,5,8,3]
mi=min(a)
m=max(a)
for i in range(mi,m+1):
    if i in a:
        print(end="")
    else:
        print(i,",",end="")

2 ,4 ,6 ,7 ,9 ,

In [6]:
for i in range(5):
    n="iphone Apple iPhone XR (128GB) - White"
    if 'Apple' in n:
        print('iphone yes')
        # name.append(n) 
        # #l=n.split('-')
        # #color.append(l[1])
        # price.append(ps)
        # image.append(img)
    else:
        print('not a iphone')

iphone yes
iphone yes
iphone yes
iphone yes
iphone yes